<h1><%=@training.name%></h1>
<table>
  <th>
    <td>Name</td>
    <td>Day/Time</td>
  </th>
<%@training.required_name.each do |f|%>
    <tr>
      <td><%=Training.find(f.training_id).name%></td>
      <td><%=f.name%></td>
      <td><%=f.daytime%></td>
    </tr>
  <%end%>
</table>
<p><%=@training.name%></p><br>
<%=link_to "Edit Training Session", edit_training_path(@training)%>
<br>
