<h2> Sign In </h2>
    <%= form_tag("/signin", method: "post") do %>
    <h3>Your username: </h3>
    <%= collection_select(:client, :username, Client.all, :username, :username) %><br />
    <h3>Your password: </h3>
    <%= password_field_tag :password%><br><br>
    <%= submit_tag "Sign In"%>
  <% end %>

  <p><%= link_to "Sign in via Github", "/auth/github" %> </p>
