<h1> Create a New Instructor</h1>

<%= form_for @instructor do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />
  <br />
  <%= f.label :gym %>
  <%= f.text_field :gym %><br />
  <br />
  <%= f.label :specialty %>
  <%= f.text_field :specialty %><br />
  <%= f.submit %>
<% end %>
</br>
