<% if @client.errors.any? %>
  <h3>Please correct the following errors before continuing:</h3>
  <ul>
    <% @client.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%=form_for(@client) do |f|%>
  <%=f.label :name%>
  <%=f.text_field :name%>
  <%=f.label :email%>
  <%=f.text_field :email%>
  <%=f.label :password%>
  <%=f.password_field :password%>
  <%=f.label :password_confirmation%>
  <%=f.password_field :password_confirmation%>
  <%=f.submit%>
  <%end%>

  <a href="/auth/github">Sign In with Github!</a>
