<% if @client.errors.any? %>
  <h3>Please correct the following errors before continuing:</h3>
  <ul>
    <% @client.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@client) do |f| %>
  <label>Email</label><br>
  <%= f.text_field :email %><br>

  <label>Username</label><br>
  <%= f.text_field :username %><br>

  <label>Password</label><br>
  <%= f.password_field :password_digest %><br>

  <%= f.submit %>

<% end %>
