<% if @client.errors.any? %>
  <h3>Please correct the following errors before continuing:</h3>
  <ul>
    <% @client.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @client, url: clients_path, method: :post do |f| %>
<ul>  <%=f.label :username%>
      <%=f.text_field :username%> </ul>

<ul>  <%=f.label :email%>
      <%=f.text_field :email%> </ul>

<ul>  <%=f.label :password%>
      <%=f.password_field :password%> </ul>

<ul>  <%=f.label :password_confirmation%>
      <%=f.password_field :password_confirmation%> </ul>
  <%=f.submit%>
  <%end%>

  <a href="/auth/github">Sign In with Github!</a>
